*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #0D1282;
    color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}
header nav{
    /* background-color: #041562; */
    width: 40%;
}
header nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header nav ul li a{
    color: #0D1282;
    text-decoration: none;
    font-size: 3vw;
}
.logo{
    background-color: #0D1282;
    border-radius: 5%;
    padding: 1vw;
    font-weight: bold;
}
header nav ul li #logo{
    line-height: 1vw;
    color: #F0DE36;
    position: relative;
    right: .5vw;
}
header nav ul li span{
    color: #D71313;
    position: relative;
    left: 2vw;
}
.start{
    background:#EEEEEE;
    color: #0D1282;
    padding: 1vw 1.5vw;
    border-radius: 3VW;
    font-size: 1.6vw;
    position: relative;
    top: 1.5vw;
    font-weight: bold;
}
.start:hover{
    background: #D71313;
    color: #F0DE36;
    transition: 0.3s ease-in-out;
}
.login{
    font-size: 1.6vw;
    /* font-weight: bold; */
    color: #EEEEEE;
    position: relative;
    top: 1.5vw;
    font-weight: bold;
}
.login:hover{
    color: #F0DE36;
    transition: 0.3s ease-in-out;
}
input[type="checkbox"]{
    display: none;
}
#close-icon{
    display: none;
    width: 3vw;
    height: 3vw;
    position: relative;
    top: 1.5vw;
}
.menu{
    z-index: 1000;
    background: #fff;
    width: 25vw;
    height: 100vh;
    position: absolute;
    top: -1vw;
    left: -60vw;
    transition: 1s ease-in-out;
}
.menu .items{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2vw;
}
.menu .items li{
    list-style: none;
    color: #0D1282;
    margin-bottom: 1.5vw;
}
.menu .items li a{
    color: #0D1282;
    text-decoration: none;
    font-size: 1.6vw;
    font-style: italic;
}
.head{
    width: 100%;
    background-color: #0D1282;
    display: flex;
    justify-content: space-around;
    padding: 1.5vw 0;
}
.head h1{
    /* background: #11468F; */
    line-height: 1.5vw;
    color: #F0DE36;
    padding: 1.5vw 1.8vw 1vw 1vw;
    font-size: 2.2vw;
}
.head h1 span{
        color: #D71313;
        position: relative;
        left: 2.4vw;
}
.active{
    left: 0vw;
}
.overlay{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* footer */
footer{
    background-color: #0D1282;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1vw;
    overflow: hidden;

}
footer .logo{
    background-color: #0D1282;
    border-radius: 5%;
    padding: 1vw;
    font-weight: bold;
    text-align: center;
}
footer .logo #logo2{
    font-size: 3vw;
    line-height: 1vw;
    color: #F0DE36;
    position: relative;
    right: .5vw;
    text-decoration: none;
}
footer .logo #logo2  span{
    color: #D71313;
    position: relative;
    left: 2vw;
}
.linkboxs{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    /* background: #D71313; */
}
.linkboxs li{
    list-style: none;
    /* padding: 1vw; */
    margin-bottom: 1.5vw;
}
.linkboxs a{
    color: #EEEEEE;
    text-decoration: none;
    font-size: 1.5vw;
    /* transition: 1s ease-in-out; */
    /* font-weight: bold; */
}
footer .linkboxs a:hover{
    color: #F0DE36;
    text-decoration: underline;
}
footer h5{
    color: #EEEEEE;
    font-size: 2vw;
    margin-bottom: 1.5vw;
    text-decoration: underline;
    text-align: center;
}
.socials img{
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    position: relative;
    top: .5vw;

}
.socials {
    padding: 3vw;
    border: #EEEEEE 1px solid;
    text-transform: capitalize;
    width: 25vw;
    height: 20vw;
}
.links{
    padding: 3vw;
    border: #EEEEEE 1px solid;
    width: 25vw;
    height: 20vw;
}
.message{
    padding: 3vw;
    border: #EEEEEE 1px solid;
    width: 25vw;
    height: 20vw;
}
.active2{
    height: 6vw;
}
.copyright{
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    color: #EEEEEE;
    margin-top: 1vw;
    padding: 1vw;
    /* background-color: #0D1282; */
}
/* css acceuil */
.acceuil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0D1282;
    padding: 2vw;
    /* margin-left: 5vw; */
    /* margin-top: 1.5vw; */
    /* margin-bottom: 5vw; */
    /* border: #0D1282 1px solid;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); */
    font-family: sans-serif;
    /* background: lightgrey; */
}

.acceuil h2{
    font-size: 3vw;
    margin-bottom: 1vw;
    text-transform: capitalize;
    margin-bottom: 1.5vw;
    /* text-decoration: underline #D71313; */
}
.acceuil h4{
    font-size: 2vw;
    margin-bottom: 1.5vw;
    color: #D71313;
    text-transform: capitalize;
    letter-spacing: 0.1em;
}
.boxAcc{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    padding: 1.5vw;
    margin-bottom: 2vw;
    border-radius: 10px;
    /* background-color: #F0DE36; */
}
.boxAcc h5 {
    font-size: 2vw;
    margin-bottom: 1vw;
    color: #0D1282;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}

.boxAcc p{
    font-size: 1.3vw;
    margin-bottom: 1vw;
}
.boxAcc img{
    width: 10vw;
    height: 10vw;
    /* border-radius: 50%; */
    margin-bottom: 1vw;
}
.boxAcc img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin-bottom: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boxAcc img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
 .aPropos img{
   margin-right: 1.5vw;
 }
.avantages img{
   margin-right: 1.5vw;
}   
.avantages h5{
    text-align: Justify;
    text-decoration: underline;
}
.avantages p{
    text-align: justify;
    margin-bottom: 1vw;
    font-size: 1.5VW;
}
.faranyAcc h4 {
    text-align: center;
    margin-bottom: 1vw;
    color: #D71313;
    text-transform: uppercase;
    font-size: 2.5vw;
    letter-spacing: 0.1em;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #D71313, 0 0 10px #D71313, 0 0 20px #D71313;
    }
    to {
        text-shadow: 0 0 20px #FF4D4D, 0 0 30px #fff, 0 0 40px #FF4D4D;
    }
}


/* login */

.inscription{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40vw;
}
.inscription img{
    width: 45vw;
    position: relative;
    top: 5vw;
    border-radius: 5%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
.loginbox{
    width: 45vw;
    /* height: 50vw; */
    background-color: #EEEEEE;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 2vw;
    position: relative;
    top: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.IntLogin{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.5vw;
    /* background-color: #0D1282; */
    /* margin-bottom: 1.5vw; */
}
.IntLogin h2{
    color: #0D1282;
}
.IntLogin .google{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F0DE36;
    padding: 1vw;
    border-radius: 3vw;
    font-size: 1.6vw;
    color: #0D1282;
    font-weight: bold;
    margin-top: 1.5VW;
}
.google img{
    width: 2vw;
    height: 2vw;
    position: relative;
    /* left: 9vw; */
    top: -.2vw; 
    /* background: #0D1282; */
}
.IntLogin .google:hover{
    background-color: #D71313;
    color: #F0DE36;
    transition: 0.3s ease-in-out;
}
.IntLogin .facebook{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F0DE36;
    padding: 1vw;
    border-radius: 3vw;
    font-size: 1.6vw;
    color: #0D1282;
    font-weight: bold;
    margin-top: 1.5vw;
}
.facebook:hover{
    background-color: #D71313;
    color: #F0DE36;
    transition: 0.3s ease-in-out;
}
.inscription .facebook img{
    width: 2vw;
    height: 2vw;
   /* background: #D71313; */
    position: relative;
    top: -.2vw;
    right: -.7vw;
}
.formulaire{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: start;
    padding: 1.5vw;
    /* background: #D71313; */
}
.formulaire h5{
    color: #0D1282;
    font-size: 1.6vw;
    display: block;
    margin: 1vw auto;
}
.formulaire label{
    color: #0D1282;
    font-size: 1.6vw;
    display: block;
    margin-bottom: 0.5vw;
}
.formulaire input{
    width: 100%;
    padding: 1vw;
    margin-bottom: 1.5vw;
    border-radius: 3vw;
    border: 1px solid #0D1282;
    font-size: 1.6vw;
}
.notice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1vw;
    font-size: 1.6vw;
    /* background: #F0DE36; */
}
.notice p{
    color: #0D1282;
    margin-bottom: 1vw;
    font-weight: bold;
}
.formulaire button{
    width: 100%;
    padding: 1vw;
    background-color: #F0DE36;
    color: #0D1282;
    border: none;
    border-radius: 3vw;
    font-size: 1.6vw;
    font-weight: bold;
    cursor: pointer;
}
.formulaire button:hover{
    background-color: #D71313;
    color: #F0DE36;
    transition: 0.3s ease-in-out;
}
